<h1> Form experiments </h1>

<form action= /goodbye>
  <label for="one">first thing</label>
  <input id="one" input type="text" name="zebra">
  
  <label for="two">second thing</label>
  <input id="two" input type="text" name="giraffe">

  <button>Go to /goodbye</button>
</form>
