<h1>
  Square Root Results
</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @the_num_2 %>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
    <%= @the_result_2 %>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>
