<h1>Calculate the square root of a number</h1>

<form action="/square_root/results">
  <label for="lion">Enter a number</label>

  <input id="lion" type="text" name="users_number_2" placeholder="What number do you want to take the square root of?">

  <button>Calculate square root</button>
</form>
